<article  *ngFor="let repo of repoDetails[0]">
  <h2>{{repo.name}}</h2>
  <div class="repo_details d-flex">
    <span>Language: {{repo.language}}</span>
    <span><i class="fa fa-star-o"></i> {{ repo.stargazers_count }}</span>
    <span><i class="fa fa-code-fork"></i> {{ repo.forks_count }}</span>
    <span><a [href]="repo.html_url" >View Repository</a></span>
  </div>
</article>

<footer>
 <div>
  <button class="footer_btn bt-prev" (click)="previousPage()"><i class='fas fa-angle-left'></i> Previous</button>
  <button class="footer_btn bt-next" (click)="nextPage()">Next <i class='fas fa-angle-right'></i></button>
 </div>
</footer>
